{# templates/adherent/view.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
  Affichage d'un utilisateur - {{ parent() }}
{% endblock %}

{% block platform_body %}

  {#<h2>{{ user.prenom ~ ' ' ~ user.nom }}</h2>
  <i>Né le {{ user.dateNaissance|date('d/m/Y') }}</i><br>
  
  {% if adherent.sexe == 1 %}
      <i>Sexe masculin</i>
  {% elseif adherent.sexe == 2 %}
      <i>Sexe féminin</i>
  {% elseif adherent.sexe == 3 %}
      <i>Sexe autre</i>
  {% else %}
      <i>Sexe non défini</i>
  {% endif %}
  {#<div class="well">
    {{ advert.content }}
  </div>#}

  <p>
    <a href="{{ path('jce_user_index') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('jce_user_edit', {'id': user.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'utilisateur
    </a>
    <a href="{{ path('jce_user_delete', {'id': user.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'utilisateur
    </a>
  </p>

{% endblock %}